#############################################################
# Main
#############################################################

NET "clk"  LOC = "P55"  ; 

#############################################################
# rs232 
#############################################################
NET "rs232_out"  LOC = "P132"  ;
NET "rs232_in"  LOC = "P133"  ;

#############################################################
# rs232 
#############################################################
# Left button 
NET "reset"  LOC = "P66"  ;
