# Clock
NET "clk" LOC = "P55" ;

# Leds
NET "u10<0>" LOC = "P76" ;
NET "u10<1>" LOC = "P79" ;
NET "u10<2>" LOC = "P80" ;
NET "u10<3>" LOC = "P82" ;
NET "u10<4>" LOC = "P84" ;
NET "u10<5>" LOC = "P77" ;
NET "u10<6>" LOC = "P78" ;
NET "u10<7>" LOC = "P83" ;

# RS232 pin 
NET "rs232_out"  LOC = "P132"  ;
NET "rs232_in"  LOC = "P133"  ;

# Buttons
# FIXME Rst pin
NET "Rst"  LOC = "P66"  ;
